.size-8 {
    width: 8px;
    height: 8px;
}

.size-14 {
    width: 14px;
    height: 14px;
}

.size-16 {
    width: 16px;
    height: 16px;
}

.size-20 {
    width: 20px;
    height: 20px;
}

.size-24 {
    width: 24px;
    height: 24px;
}

.size-40 {
    width: 40px;
    height: 40px;
}

.size-64 {
    width: 64px;
    height: 64px;
}

.translate-3px {
    transform: translateY(3px);
}

.mr-4px {
    margin-right: 4px;
}

.ml-4px {
    margin-left: 4px;
}

.ml-8px {
    margin-left: 8px;
}

.mr-8px {
    margin-right: 8px;
}

.round {
    border-radius: 100%;
}

.forum-img {
    margin: 0px;
    max-width: 100%;
    min-width: 282px;
    width: 282px;
    height: 207px;
}
