:root {
    --theme-ui-colors-text: #231536;
    --theme-ui-colors-textSecondary: #666666;
    --theme-ui-colors-primary: #1AAB9B;
    --theme-ui-colors-primaryEmphasis: #008E7B;
    --theme-ui-colors-primaryMuted: #A3DDD7;
    --theme-ui-colors-primaryAlt: #098C7D;
    --theme-ui-colors-onPrimary: #FFF;
    --theme-ui-colors-secondary: #D5D9E0;
    --theme-ui-colors-secondaryEmphasis: #7E7E87;
    --theme-ui-colors-secondaryAlt: #231536;
    --theme-ui-colors-secondaryMuted: #D4D9E1;
    --theme-ui-colors-onSecondary: #7E7E88;
    --theme-ui-colors-background: #FFF;
    --theme-ui-colors-accentBlueEmphasis: #1147C8;
    --theme-ui-colors-orangeAttention: #F9A606;
    --theme-ui-colors-surface: #FFF;
    --theme-ui-colors-onSurface: #708390;
    --theme-ui-colors-onSurfaceAlt: #F7F8F9;
    --theme-ui-colors-error: #FF0000;
    --theme-ui-colors-success: #087C6D;
    --theme-ui-colors-successAlt: #EEFFFD;
    --theme-ui-colors-onSuccess: #087C6D;
    --theme-ui-colors-notice: #EB7720;
    --theme-ui-colors-noticeAlt: #FFFBEF;
    --theme-ui-colors-onNotice: #EB7720;
    --theme-ui-colors-warningAlt: #CB532D;
    --theme-ui-colors-warning: #F75524;
    --theme-ui-colors-accentBlue: #447AFB;
    --theme-ui-colors-accentPurple: #9055AF;
    --theme-ui-colors-skeletonColor: #EEE;
    --theme-ui-colors-badgeSelector: #EEE;
    --theme-ui-colors-skeletonHighlightColor: #F5F5F5;
    --theme-ui-colors-tagColorOne: #D44C96;
    --theme-ui-colors-tagColorOneBg: #FFF4FA;
    --theme-ui-colors-tagColorTwo: #8F2EC1;
    --theme-ui-colors-tagColorTwoBg: #FBF2FF;
    --theme-ui-colors-tagColorThree: #02CB9B;
    --theme-ui-colors-tagColorThreeBg: #EBFFFA;
    --theme-ui-colors-tagColorFour: #FF4085;
    --theme-ui-colors-tagColorFourBg: #FFF0F4;
    --theme-ui-colors-tagColorFive: #EF5277;
    --theme-ui-colors-tagColorFiveBg: #FEEEF2;
    --theme-ui-colors-tagColorSix: #5D48FF;
    --theme-ui-colors-tagColorSixBg: #F7F5FF;
    --theme-ui-colors-tagColorSeven: #7D8FAA;
    --theme-ui-colors-tagColorSevenBg: #F2F5FA;
    --theme-ui-colors-tagColorEight: #00B5D3;
    --theme-ui-colors-tagColorEightBg: #EEFAFC;
    --theme-ui-colors-tagColorNine: #34AAFF;
    --theme-ui-colors-tagColorNineBg: #F1F9FF;
    --theme-ui-colors-tagColorTen: #FF8237;
    --theme-ui-colors-tagColorTenBg: #FFF5EF;
    --theme-ui-colors-tagColorEleven: #1AAB9B;
    --theme-ui-colors-tagColorElevenBg: #EEFFFD;
    --theme-ui-colors-tagColorTwelve: #635696;
    --theme-ui-colors-tagColorTwelveBg: #F7F4FF;
    --theme-ui-colors-tagColorThirteen: #E7C200;
    --theme-ui-colors-tagColorThirteenBg: #FFFBEF;
    --theme-ui-colors-tagColorFourteen: #FF36C7;
    --theme-ui-colors-tagColorFourteenBg: #FFF3F8;
    --theme-ui-colors-tagColorFifteen: #FF8237;
    --theme-ui-colors-tagColorFifteenBg: #FFFBEF;
    --theme-ui-colors-tagColorSixteen: #FF8237;
    --theme-ui-colors-tagColorSixteenBg: #FFFBEF;
    --theme-ui-colors-tagColorSeventeen: #AD927D;
    --theme-ui-colors-tagColorSeventeenBg: #FFF9F4;
    --theme-ui-colors-voterYellow: #FDC134;
    --theme-ui-colors-semiTransparentBackground: rgba(255, 255, 255, 0.5);
    --theme-ui-colors-bull: #1AAB9B;
    --theme-ui-colors-bear: #F75524;
    --theme-ui-colors-banner: #231635;
    --theme-ui-colors-shadowFloater: #dbe3ed66;
    --theme-ui-colors-darkPrimary: #027265;
    color: var(--theme-ui-colors-text);
    background-color: var(--theme-ui-colors-background);
}